
<h1>Author</h1>

<ul>
	<li>First Name: <%= @author.first_name %></li>
	<li>Last Name: <%= @author.last_name %></li>
	<li>Year: <%= @author.year %></li>
</ul>

<p>
	<%= link_to "Show All Authors", authors_path %>
</p>
